:root {
    --primary-bg: #1E1E2F;
    --primary-text: #FFFFFF;
    --secondary-bg: #2E2E3F;
    --secondary-text: #A9A9B5;
    --accent-main: #5C6BC0;
    --accent-hover: #3F51B5;
    --alert: #FF5252;
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    font-family: 'Arial', sans-serif;
  }

  .admin_title{
    border: solid #FFFFFF;
    justify-content: center;
    display: flex;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .nav_tittle{
    margin-left: 3vh;
    color: white;
    font-size: 4vh;
    border-style: solid;
    border-bottom: none;
    border-top: none;
    border-right: none;
    padding-left: 1vh;
  }

.nav_menu{

    height: 100%;
    width: 220px;
    position: fixed;
    z-index: .1;
    top: 0;
    left: 0;
    background-color: var(--primary-bg);
    overflow-x: hidden;
    padding-top: 20px;
}

.admin_lista{
    list-style-type: none;
}

.admin_nav{
    padding-left: 0px;
}




.admin_lista .menu_selector{


    padding: 16px;
    padding-left: 0;
    text-decoration: none;
    font-size: 20px;
    color: var(--primary-text);
    display: block;
    text-align: justify;
    margin: 15px;
}

.admin_lista .menu_selector:hover{

    color: var(--secondary-text);
    font-weight: 700;
    background-color: var(--accent-hover);
    border-radius: 10px;

}

.iconos{

    width: 24px;
    margin-right: 5px;
}










/*
body{
    background-color: gray;
}

.div_big_1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    font-size: 37PX;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.div_small_1{
    order: 0;
    flex: 0 1 auto;
    align-self:auto;
    height: auto;
    width: 25%;
    border-color: #050505;
    border-style:solid;
    border-top: none;
    padding-top: 0;
    text-align: center;
    background-color: beige;
}

.div_small_1 div{
    border: solid;
    padding: 30px;
}

.div_small_1 button{
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;


    background: url(/recursos/neco_dance.gif) no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

.div_small_1 button:hover{
    background: #fff;
    color: red;
    cursor: pointer;
}








.div_small_2{
    order: 0;
    position: relative;
    width: 75%;
    text-align: center;
    border-color: #050505;
    border-style:solid;
    border-top: none;
    background-color: gainsboro;

}

.div_small_2 table {
    margin-top: 20px;
    margin-bottom: 90px;
    padding-top: 2%;
}

.div_small_2 input{
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 20px 25px 20px 25px;
    margin-left: 20px;

}

.div_small_2 .img{
    border: none;
    background-color: #fff;
}

.div_small_2 button{
    padding: 20px 85px 20px 85px;
    border-radius: 20px;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}

.div_small_2 .cancel{
    margin-right: 5%;
    background-color: crimson;
    color: #fff;
}

.div_small_2 .save{
    margin-left: 5%;
}



*/