.footer {
    background-color: #e6e6e6;
    color: #131921;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    border-top: solid #131921 2px;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.footer .column {
    flex: 1;
    min-width: 150px;
    margin: 10px 0;
}
.footer h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer ul li {
    margin: 5px 0;
}
.footer ul li a {
    color: #131921;
    text-decoration: none;
}
.footer .bottom-text {
    text-align: center;
    margin: 20px 0;
    font-size: 0.9em;
}
.footer .bottom-text p {
    text-align: center;
    padding: 10px;
    background-color: #131921;
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer .payment-methods img {
    max-width: 50px;
    margin: 5px;
}
